<a href="https://colab.research.google.com/github/dp1500/financial-ml-modelling-of-companies/blob/main/financial_ml_modelling_version1(test%20on%20clustering).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## dataset stockdatascaled.csv contains details of stocks of different companies.

In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv("/content/TDS_Week_5_Dataset_2 - Sheet1.csv")
data.head()

,record number,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
0,0,0.001319,0.001970,0.826221,0.021519,0.000000,0.476845,0.038117,0.000701,0.0,0.268651
1,1,0.000769,0.000579,0.441647,0.003081,0.000000,0.232072,0.000000,0.025832,0.0,0.190937
2,2,0.000132,0.000316,0.655003,0.000778,0.065568,0.000000,0.000000,0.001083,0.0,0.122265
3,3,0.000824,0.007208,0.000533,0.000252,0.408417,0.416031,0.000000,0.000918,0.0,0.100503
4,4,0.000596,0.000358,0.805526,0.003378,0.116626,0.474160,0.067420,0.029651,0.0,0.050376

In [19]:
data.shape

(1225, 11)

## DATA ALREADY SCALED

## APLYING KMEANS CLUSTERING

In [20]:
data.drop(['record number'], axis=1, inplace=True)

In [21]:
from sklearn.cluster import KMeans
kmeans = KMeans(7, random_state= 1729)

clus = kmeans.fit_predict(data)

In [23]:
data['cluster'] = clus
data['cluster'].value_counts()

0    435
3    382
2    153
1    152
5     62
4     21
6     20
Name: cluster, dtype: int64

In [26]:
def isPair(x,y):
  print(data['cluster'][x])
  print(data['cluster'][y])

isPair(554,386)

1
1